body {
    background-color: #EEE;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

main {
    display: grid;
    grid-template: 1fr 1fr 1fr;
    grid-gap: 2.25em;
    padding-bottom: 50px;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 15px;
}

header, footer {
    background-color:#0c2f5c;
    color: #FFFFFF;
    padding: 8px;
    border-radius: 15px;
}

header {
    grid-column: 1/4;
    grid-row: 1;
}

h1 {
    font-size: 32px;
    padding-left: 25px;
    font-family: 'Merriweather', serif;
    text-align: center;
}

h2 {
    font-size: 24px;
    padding-left: 25px;
    font-family: 'Merriweather', serif;
    text-align: center;
}

.main-cont-1 {
    grid-column: 1;
    grid-row: 2/10;
    border: 5px solid #0c2f5c;
    border-radius: 10px;
    background-color: white;
}

.main-cont-2 {
    grid-column: 2;
    grid-row: 2/10;
    border: 5px solid #0c2f5c;
    border-radius: 10px;
    background-color: white;
}

.main-cont-3 {
    grid-column: 3;
    grid-row: 2/10;
    border: 5px solid #0c2f5c;
    border-radius: 10px;
    background-color: white;
}

.cont-1-para-1, .cont-3-para-1 {
    text-align: center;
    font-size: 20px;
    font-family: 'Merriweather', serif;
    border-bottom:  10px double #EEE;
    background-color: #0c2f5c;
    color: white;
    margin: 0px;
    padding-bottom: 19px;
    padding-top: 15px;
}

.cont-2-para-1 {
    text-align: center;
    font-size: 20px;
    font-family: 'Merriweather', serif;
    border-bottom:  10px double #EEE;
    background-color: #0c2f5c;
    color: white;
    margin: 0px;
    padding: 5px;
}

.cont-1-para-2, .cont-2-para-2, .cont-3-para-2 {
    text-align: left;
    font-size: 14px;
    background-color: white;
    color: black;
    padding: 5px;
    margin: none;
}

ul {
    padding: 0px;
}

li {
    list-style: none;
    font-size: 14px;
    text-align: center;
    background-color: #0c2f5c;
    color: #EEE;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

li a:link, li a:visited {
    color: orange;
}

li a:hover {
    color: #EEE;
}

.cont-1-img, .cont-3-img {
    height: 500px;
    width: 300px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    border-bottom: 5px solid #0c2f5c;
}
.cont-2-img {
    height: 466px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom:40px;
    border-bottom: 5px solid #0c2f5c;
}

footer a, footer a:link, footer a:visited, footer a:hover, footer a:active, footer a:focus {
    color: white;
}

footer a:hover {
    color: #DDD;
}

footer {
    grid-column: 1/4;
    grid-row: 10;
    clear: both;
    text-align: center;
}

footer p.legal {
    margin-bottom: 9px;
    font-size: .9em;
}

footer p.updatehistory {
    color: orange;
    font-size: .8em;
    margin-top: 0;
}