/* Testing */

/* End Testing */

body {
    background-color: #EEE;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

main {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
}

header, footer {
    background-color:#0c2f5c;
    color: #FFFFFF;
    padding: 8px;
    border-radius: 15px;
}

.index-name, .target-name, .type-name, .color-name {
    font-size: 34px;
    font-family: 'Merriweather', serif;
    text-align: center;
}

.index-title, .target-title, .type-title, .color-title {
    font-size: 22px;
    border-bottom:  1px solid black;
    text-align: center;
}

h3 {
    font-size: 20px;
    text-align: left;
}

.persona-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
}

.persona-1st {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.persona-2nd {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.q-1, .q-2, .q-3, .q-4, .q-5, .q-6, .q-7, .q-8 {
    background-color: lightsteelblue;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 25px;
    margin: 0px;
    
}

.a-1, .a-2, .a-3, .a-4, .a-5, .a-6, .a-7, .a-8 {
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 25px;
    margin: 0px;
    border: .5px solid black;
    height: 150px;
    width: 300px;
}

.persona-img {
    display: block;
    margin: auto;
    width: 150px;
    border: 3px solid black;
  }

  .color-section {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 20px 1fr 1fr;
      grid-gap: 3px;
      text-align: center;
  }

  .color-container-1, .color-container-2, .color-container-3, .color-container-4 {
      background-color: lightgray;
  }

  .color-subcont-1 {
      background-color: #EEEEEE;
      padding-top: 20px;
  }

  .color-subcont-2 {
    background-color: #0C2F5C;
    color: white;
    padding-top: 20px;
}

.color-subcont-3 {
    background-color: #F97D00;
    padding-top: 20px;
}

.color-subcont-4 {
    background-color: #6A7B76;
    color: white;
    padding-top: 20px;
}

.type-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 3px;
}

.sh1, .sh2, .sh3, .sh4, .sample1, .pn1, .pn2, .pn3, .pn4, .sample2, .sample3, .sample4, .h21, .h22, .h23, .h24, .sample5, .h31, .h32, .h33, .h34, .para1, .para2, .para3,.para4 {
    border: 2px solid black;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

.sample1 {
    font-size: 34px;
    background-color: #0c2f5c;
    color: white;
}

.sh4 {
    background-color: #0c2f5c;
    color: white;
}

.sample2 {
    font-size: 22px;
    background-color: #6A7B76;
    color: white
}

.h24 {
    background-color: #6A7B76;
    color: white;
}

.sample3, .sample4 {
    font-size: 20px;
    color:#0c2f5c;
}

p {
    font-size: 18px;
}

ul {
    list-style: none;
    padding-left: 0px;
}

li {
    font-size: 20px;
}

li a:link, li a:visited {
    color: #0c2f5c;
}

li a:hover {
    color: black;
}

.weather-logo {
    width: 128px;
    height: 128px;
    padding-bottom: 40px;
}

footer a, footer a:link, footer a:visited, footer a:hover, footer a:active, footer a:focus {
    color: white;
}

footer a:hover {
    color: #DDD;
}

footer {
    clear: both;
    text-align: center;
}

footer p.legal {
    margin-bottom: 9px;
    font-size: .9em;
}

footer p.updatehistory {
    color: orange;
    font-size: .8em;
    margin-top: 0;
}


@media only screen and (max-width: 1050px) {

    .index-name, .target-name, .type-name, .color-name {
        font-size: 32px;
    }

    .index-title,.target-title, .type-title, .color-title {
        font-size: 24px;
    }

    .persona-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 15px;    }



    header, footer {
        border-radius: 0px;
    }

}