main {
    margin: 0 auto;
    max-width: 960px;
    display: grid;
    grid-template-columns: 220px 1fr 1fr;
    gap: 15px;
}

header {
    text-align: center;
    font-size: 24px;
}

#phone {
    grid-row: 1;
    grid-column: 1;
    border: 1px solid black;
}

#tablet {
    grid-row: 1;
    grid-column: 2;
    border: 1px solid black;
}

#desktop {
    grid-row: 1;
    grid-column: 3;
    border: 1px solid black;
}

figcaption {
    text-align: center;
}