body {
    background-color: #EEE;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
}

header, footer {
    background-color:#0c2f5c;
    color: #FFFFFF;
    padding: 8px;
    border-radius: 15px;
}

header {
    grid-column: 1/-1;
}

h1 {
    font-size: 32px;
    padding-left: 25px;
    font-family: 'Merriweather', serif;
    text-align: center;
}

h2 {
    font-size: 24px;
    padding-left: 25px;
    font-family: 'Merriweather', serif;
    text-align: center;
}

.main-cont-1, .main-cont-2, .main-cont-3 {
    /*grid-column: 1;
    grid-row: 2/10;*/
    border: 5px solid #0c2f5c;
    /*border-radius: 10px;*/
    background-color: white;
}

.cont-1-para-1, .cont-3-para-1, .cont-2-para-1 {
    text-align: center;
    font-size: 20px;
    font-family: 'Merriweather', serif;
    border-bottom:  10px double #EEE;
    background-color: #0c2f5c;
    color: white;
    margin: 0px;
    padding-bottom: 19px;
    padding-top: 15px;
}

.cont-1-para-2, .cont-2-para-2, .cont-3-para-2 {
    text-align: left;
    font-size: 14px;
    background-color: white;
    color: black;
    padding: 5px;
    margin: none;
    border-top:5px solid #0c2f5c;
}

ul {
    padding: 0px;
}

li {
    list-style: none;
    font-size: 14px;
    text-align: center;
    background-color: #0c2f5c;
    color: #EEE;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

li a:link, li a:visited {
    color: orange;
}

li a:hover {
    color: #EEE;
}
  /*****    Redo the pictures at the exact some size. *****/
  
.cont-1-img, .cont-2-img, .cont-3-img {
    display: block;
    margin: auto;
    width: 75%;
}


footer a, footer a:link, footer a:visited, footer a:hover, footer a:active, footer a:focus {
    color: white;
}

footer a:hover {
    color: #DDD;
}

footer {
    grid-column: 1/-1;
    /*grid-row: 10;*/
    clear: both;
    text-align: center;
}

footer p.legal {
    margin-bottom: 9px;
    font-size: 14px;
}

footer p.updatehistory {
    color: orange;
    font-size: 12px;
    margin-top: 0px;
}


@media only screen and (max-width: 1025px) {

    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 24px;
    }

    main {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 15px;    
    }

    header, footer {
        border-radius: 0px;
    }

}