@media only screen and (min-width: 32.5em) {

    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 24px;
    }

    header, footer {
        border-radius: 15px;
    }

    .pfp {
        float: right;
        box-shadow: 0 0 17px black;
    }

}