body {
    background-color: #EEE;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

main {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
}

header, footer {
    background-color:#0c2f5c;
    color: #FFFFFF;
    padding: 8px;
    border-radius: 15px;
}

h1 {
    font-size: 24px;
    padding-left: 95px;
    font-family: 'Merriweather', serif;
}

h2 {
    font-size: 16px;
    border-bottom:  1px solid black;
}

.pfp {
    height: 150px;
    width: 275px;
}

li a:link, li a:visited {
    color: #0c2f5c;
}

li a:hover {
    color: black;
}

footer a, footer a:link, footer a:visited, footer a:hover, footer a:active, footer a:focus {
    color: white;
}

footer a:hover {
    color: #DDD;
}

footer {
    clear: both;
    text-align: center;
}

footer p.legal {
    margin-bottom: 9px;
    font-size: .9em;
}

footer p.updatehistory {
    color: orange;
    font-size: .8em;
    margin-top: 0;
}
