@media screen and (min-width: 601px) {
    header {
        font-size: 1.5rem;
        line-height: 2rem;
    }
    header img,
    .headings {
        margin: 10px auto;
    }
    .logo {
        height: 8rem;
    }
    .headings h1 {
        font-size: 34px;
    }
    .motto {
        font-size: 1rem;
        line-height: 2rem;
    }
    .hero-container {
        position: relative;
        width: 75%;
        margin: auto;
    }
    .weather-summary-container p {
        font-size: .8em;
    }
    .five-day-forecast {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        background-color: #0C2F5C;
        position: relative;
        width: 35rem;
        margin: auto;
        margin-top: 70px;
    }
    table {
        background-color: white;
        margin: 1.5rem;
        border: .2rem solid white;
    }
    th {
        background-color: #6A7B76;
        padding: 1.5rem;
        font-size: 1rem;
    }
    td {
        padding: .2rem;
    }
    .five-day-forecast h3 {
        color: #F97D00;
        padding-top: 15px;
    }
    article {
        width: 70%;
        text-align: left !important;
    }
    .art-img {
        margin: 1rem;
        float: right;
        padding-right: 0px;
        box-shadow: 1rem 1rem .5rem black;
        width: 18rem;
    }
    .contact {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 0 auto;
        margin-bottom: 15px;
        margin-top: 25px;
        border-top: 5px solid #0C2F5C;
        padding-top: 15px;
    }
    .contact h3 {
        background-color: transparent;
    }
    .adress {
        grid-column: 2/3;
        grid-row: 2/3;
    }
    .email {
        grid-column: 2/3;
        grid-row: 3/4;
    }
    .phone {
        grid-column: 2/3;
        grid-row: 4/5;
    }
    .map {
        grid-column: 1/2;
        grid-row: 1/6;
        margin: 0 auto;
        width: 50%;
        min-width: 300px;
        max-width: 960px;
        border: 1px solid black;
    }
    .social {
        display: grid;
        grid-template-columns: 36px 36px 36px 1fr;
        grid-column: 2/3;
        grid-row: 5/6;
    }
    .social img {
        max-width: 36px;
    }
}

@media screen and (min-width: 772px) {
    #menu-link {
        display: none;
    }
    nav {
        background-color: #0C2F5C;
        font-size: 1em;
        line-height: normal;
    }
    .menu {
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        padding: 0;
        list-style-type: none;
        margin: 0;
        overflow: hidden;
        background-color: #0C2F5C;
        position: sticky;
        top: 0;
        max-height: 3em;
    }
    .menu li {
        display: inline;
        float: left;
        padding: 0px;
    }
    .menu li:hover {
        background-color: #F97D00;
    }
    .menu li a {
        display: block;
        color: white;
        text-align: center;
        padding: 1rem 1.5rem;
    }
    .menu li:hover a {
        color: white;
    }
}