@media screen and (min-width: 450px) {

    .map img {
        display: block;
        margin: auto;
        margin-bottom: 20px;
        width: 50%;
        min-width: 375px;
        max-width: 785px;
        grid-row: 1;
      }

     






    
}