/* large */

@media screen and (min-width: 785px){

    .main-cont{
        padding:0px 10px 0px 10px;
    }
    
    .logo {
      max-width: 50px;
      margin-right: 10px;
      margin-top: 20px;
      margin-left: auto;
    }
    
    .logo img {
      max-width: 80px;
    }
    
    .sub-cont {
        grid-column: 2/4;
        text-align: left;
        margin-left: 40px;
    }
    
    .sitename h1 {
        font-size: 36px;
        margin-bottom: 10px;
    }
    
    .site-motto h3 {
        font-size: 16px;
    }
    
    ul li {
        display: inline!important;
        padding:20px;
        font-size: 18px;
    }
    
    ul li:first-child {
        display: none!important;
    }
    
    ul li:hover a {
      background-color: #F97D00;
      color: #0C2F5C;
      padding: 1.5rem;
    }
    
    .main-nav {
      background-color: #0C2F5C;
      border: 5px double #F97D00;
      padding: 10px;
    }
    
    .weather-summary-cont {
      margin-bottom: 10px;
    }
    
    .art-img {
        max-width: 40%;
        float:right;
    }
    
    footer {
        display: grid;
        grid-template-columns: 1fr
    }
    
    .map img {
      margin: auto;
      width: 50%;
      min-width: 450px;
      max-width: 960px;
    }
  
    .contact-cont {
      grid-row: 2;
      margin-bottom: 15px;
    }
    }