@media screen and (min-width: 886px) {
    /* large */

@media screen and (min-width: 886px){

    .header-cont {
      background: linear-gradient(90deg,white 0%, transparent 0%);
      grid-template-columns: 200px 1fr;
    }
    
    .logo img {
      max-width: 100px;
      padding-left: 4em;
    }
    
    .sub-cont h1 {
        font-size: 36px;
        margin-bottom: 10px;
    }
    
    .sub-cont h3 {
        font-size: 16px;
    }
    
    ul li {
        display: inline;
        padding:20px;
        font-size: 18px;
    }
    
    ul li:first-child {
        display: none;
    }    
    
    .main-nav {
      background-color: #0C2F5C;
      border: 5px double #F97D00;
      padding: 10px;
    }

    .main-nav a {
      color: #F97D00;
    }

    .main-nav .active a {
      background-color: #F97D00;
      color: white;
      padding-top: 25px;
      padding-bottom: 25px;
      padding-right: 25px;
      padding-left: 25px;
    }

    .main-nav .active:hover a {
      color: #0C2F5C;
    }
    
    .section-banner h2 {
      text-align: center;
    }

    .gallery {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .gallery picture {
        padding: 1rem 1rem 1rem 2rem;
    }

    picture:hover {
        box-shadow: 0 0 50px #333;
    }
    
    .contact {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 0 auto;
        padding: 3px;
        margin-bottom: 15px;;
        border: 15px solid black;
    }

    .contact h3 {
      background-color: transparent;
    }

    .adress {
      grid-column: 2/3;
      grid-row: 2/3;
    }

    .email {
      grid-column: 2/3;
      grid-row: 3/4;
    }    

    .phone {
      grid-column: 2/3;
      grid-row: 4/5;
    }

    .map {
      grid-column: 1/2;
      grid-row: 1/6;
      margin: 0 auto;
      width: 50%;
      min-width: 300px;
      max-width: 960px;
      border: 1px solid black;
    }
  
    .social {
      display: grid;
      grid-template-columns: 36px 36px 36px 1fr;
      grid-column: 2/3;
      grid-row: 5/6;
    }

    .social img {
      max-width: 36px;
    }   

    }
}