/* Medium */

@media screen and (min-width: 601px) {
    header {
        display: grid;
        grid-template-columns: 300px 1fr;
        font-size: 1.5rem;
        line-height: 2rem;
    }
    header img,
    .headings {
        margin: 10px auto;
    }
    .logo {
        height: 8rem;
    }
    .headings {
        margin-left: 0;
    }
    .headings h1 {
        font-size: 34px;
    }
    .motto {
        font-size: 1rem;
        line-height: 2rem;
    }
    .contact {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 15px;
        border-top: 5px solid #0C2F5C;
        padding-top: 15px;
    }
    .contact h3 {
        background-color: transparent;
    }
    .adress {
        grid-column: 2;
        grid-row: 2;
        font-size: .8rem;
    }
    .email {
        grid-column: 2;
        grid-row: 3;
        font-size: .8rem;
    }
    .phone {
        grid-column: 2;
        grid-row: 4;
        font-size: .8rem;
    }
    .contact iframe {
        grid-column: 1;
        grid-row: 1/6;
        margin: 0 auto;
        width: 40%;
        min-width: 300px;
        max-width: 960px;
        border: 1px solid black;
    }
    .social {
        display: grid;
        grid-template-columns: 36px 36px 36px 1fr;
        grid-column: 2;
        grid-row: 5;
        align-self: center;
    }
    .social img {
        max-width: 36px;
    }
}

@media screen and (min-width: 772px) {
    #menu-link {
        display: none;
    }
    nav {
        background-color: #0C2F5C;
        font-size: 1em;
        line-height: normal;
        border-top: 15px solid #F97D00;
    }
    .menu {
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        padding: 0;
        list-style-type: none;
        margin: 0;
        overflow: hidden;
        background-color: #0C2F5C;
        position: sticky;
        top: 0;
        max-height: 3em;
    }
    .menu li {
        display: inline;
        float: left;
        padding: 0px;
    }
    .menu li:hover {
        background-color: #F97D00;
    }
    .menu li a {
        display: block;
        color: white;
        text-align: center;
        padding: 1rem 1.5rem;
    }
    .menu li:hover a {
        color: white;
    }
    .adress {
        font-size: 1rem;
    }
    .email {
        font-size: 1rem;
    }
    .phone {
        font-size: 1rem;
    }
}