/* Small */

* {
    margin: 0 auto;
    padding: 0;
}

body {
    margin: 0 auto;
    box-sizing: border-box;
    background-color: #f5f5f5;
    text-align: center;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Merriweather", sans-serif;
}

p {
    font-family: verdana;
    line-height: 1.8rem;
}

header {
    color: #F97D00;
    background-color: #0C2F5C;
    font-size: 1rem;
    line-height: 1rem;
    font-family: 'Merriweather', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}

header img,
.headings {
    display: inline-block;
    vertical-align: middle;
    margin: 10px;
}

.logo {
    height: 5rem;
}

.headings h1 {
    font-size: 20px;
}

.motto {
    font-size: .75rem;
    line-height: 1rem;
    color: white;
}

nav {
    background-color: #6A7B76;
    color: white;
    font-size: 1.25rem;
    line-height: 3rem;
    font-family: verdana, sans-serif;
}

nav a {
    color: white;
    text-decoration: none;
}

#active {
    background-color: #F97D00;
}

li:hover {
    background-color: #0C2F5C;
}

li:hover a {
    color: #F97D00;
}

#active:hover a {
    color: #0C2F5C;
}

.menu {
    list-style: none;
    padding-inline-start: 0px;
    display: none;
}

.responsive {
    display: block;
    list-style: none;
    padding-inline-start: 0px;
}

#cursor {
    cursor: pointer;
}

main {
    max-width: 1440px;
    margin: 0 auto;
}

main h1 {
    background-color: #0C2F5C;
    height: 50px;
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 34px;
    text-align: center;
    color: #F97D00;
    padding-top: 8px;
}

.hero-container picture img {
    width: 98%;
}

.hero-container {
    position: relative;
    width: 100%;
}

.weather-summary-container {
    background-color: rgb(12, 47, 92, .8);
    width: 250px;
    position: absolute;
    top: 25px;
    left: 25px;
    z-index: 99;
    padding: 10px;
    line-height: 1.5rem;
    color: white;
}

.weather-summary-container h2 {
    color: #F97D00;
}

.five-day-forecast {
    display: none;
}

.art-img {
    width: 98%;
}

article {
    background-color: #0C2F5C;
    padding: 1rem;
    margin: auto;
    margin-top: 100px;
    text-align: left;
    border: 1px solid #F97D00;
}

article p,
h2,
h4 {
    margin: 1rem;
}

article h2 {
    color: #F97D00;
}

article h4 {
    color: #6A7B76;
}

article p {
    color: white;
}

.contact {
    max-width: 960px;
    margin: 0 auto;
    margin-top: 20px;
}

.contact p {
    padding-left: 30px;
    margin: 0;
    word-wrap: break-word;
}

.contact h3 {
    background-color: #0C2F5C;
    color: #F97D00;
    padding-left: 5px;
}

.contact iframe {
    margin: 0 auto;
    margin-bottom: 15px;
    width: 90%;
    height: 300px;
    border: 2px solid black;
}

.legal-footer {
    background-color: #0C2F5C;
    padding: 20px;
    font-size: 14px;
}

.legal-footer a {
    color: white;
}

.legal-footer p {
    font-family: "Merriweather Sans", sans-serif;
    color: #F97D00;
    text-align: center;
}

.contact .social {
    display: none;
}

#banner {
    text-align: center;
    border: 4px double white;
    background-color: #0c2f5c;
    color: yellow;
    margin-bottom: 15px;
    margin-top: 15px;
    padding: 10px;
}

@media screen and (min-width: 515px) {
    .headings h1 {
        font-size: 30px;
    }
    article {
        margin-top: 15px;
    }
}