@media screen and (min-width: 601px) {
    header {
        display: grid;
        grid-template-columns: 300px 1fr;
        font-size: 1.5rem;
        line-height: 2rem;
    }
    header img,
    .headings {
        margin: 10px auto;
    }
    .logo {
        height: 8rem;
    }
    .headings {
        margin-left: 0;
    }
    .headings h1 {
        font-size: 34px;
    }
    .motto {
        font-size: 1rem;
        line-height: 2rem;
    }
    @media screen and (min-width: 772px) {
        #menu-link {
            display: none;
        }
        nav {
            background-color: #0C2F5C;
            font-size: 1em;
            line-height: normal;
            border-top: 15px solid #F97D00;
        }
        .menu {
            display: flex;
            justify-content: center;
            flex-wrap: nowrap;
            padding: 0;
            list-style-type: none;
            margin: 0;
            overflow: hidden;
            background-color: #0C2F5C;
            position: sticky;
            top: 0;
            max-height: 3em;
        }
        .menu li {
            display: inline;
            float: left;
            padding: 0px;
        }
        .menu li:hover {
            background-color: #F97D00;
        }
        .menu li a {
            display: block;
            color: white;
            text-align: center;
            padding: 1rem 1.5rem;
        }
        .menu li:hover a {
            color: white;
        }
    }
}